aside {
    margin-bottom: -250px;;
    margin-top: 50px;
}

.image {
    width: 200px;
    height: 200px;
}

header {
    margin-left: 200px;
}

main {
    margin-left: 200px;
}

footer {
    margin-left: 200px;
}