aside {
    margin-bottom: -250px;;
    margin-top: 50px;
}

.image {
    width: 200px;
    height: 200px;
}

.header__box {
    margin-left: 200px;
    width: 500px;
    max-width: 500px;
    height: 100px;
    background-color: rgb(192, 230, 143);
}


.items ul {
    columns: 2;
}

.main__box {
    margin-left: 200px;
    width: 500px;
    max-width: 500px;
    height: 400px;
    background-color: antiquewhite;
}

.footer__box {
    margin-left: 200px;
    background-color: aquamarine;
    max-width: 500px;
}