*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

img{
    object-fit: cover;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    background-color: #1f1f1f;
    display: flex;
    height: 100px;

}

.header__logo{
    margin: 0 10%;
}

.navbar {
    margin: auto 10%;
    width: 100%;
    display: flex;
    align-self: center;
}
.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar a {
    color: whitesmoke;
}
.nav__item-active{
    border-bottom: 2px solid rgb(170, 124, 17);
    padding-bottom: 3px;
}