.header-box {
    background-color: rgb(254, 254, 254);    
}

nav {
    display: flex;
    justify-content: space-between;
}

.tittle {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
}

.menu {
    position: fixed;
    margin: 10px;
    text-decoration: none;
     /*no se aplica text-decoration: */;
}

 form {
    height: 120px;
    width: 450px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.label1 {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
}

.main-box {
    background-color: rgb(255, 255, 255);
}

.row {
    display: flex;
    justify-content: space-around;
    object-fit: cover ;
}

.product {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 20px 2px;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
}

.light {
    font-weight: 100;
}

p {
    margin: 0px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.sign-in {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mail {
    width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: center;
}

.footer-box {
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer {
    display: inline-flex;
    
}

hr {
    width: 400px;
}

ul {
    list-style: none;
}