.header-box {
    background-color: rgb(254, 254, 254);    
}

nav {
    display: flex;
    justify-content: space-between;
}

.titulo {
    margin-top: 120px;
    margin-left: 260px;
}

.menu {
    position: absolute;
    margin-top: 120px;
    text-decoration: none;
     /*no se aplica text-decoration: */;
}

 .search {
    width: 415px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.main-box {
    background-color: rgb(252, 252, 252);
}

.row {
    display: flex;
    justify-content: space-around;
}

.product {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 20px 2px;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
}

.light {
    font-weight: 100;
}

p {
    margin: 0px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.sign-in {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mail {
    width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: center;
}

.footer-box {
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer {
    display: inline-flex;
    
}

ul {
    list-style: none;
}