.header-box {
    background-color: rgb(254, 254, 254);    
}

nav {
    display: flex;
    justify-content: space-between;
}

.tittle {
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    max-width: 500px;
}

.menu {
    position: fixed;
    margin: 10px;
    text-decoration: none;
     /*no se aplica text-decoration: */;
}

/* .primary-nav {
    height: 100%;
    display: flex;
    text-align: center;
    position: relative;
  }
  .search-on-web {
    position: absolute;
    top: 25px;
    display: flex;
    right: 10px;
    width: 350px;
    justify-content: space-between;
    font-size: 18px;
  }
  .search-on-web a {
    color: black;
  }
  #search {
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    text-align: left;
    padding: 0.3em 1.3em;
    text-align: left;
    margin-right: 5px;
    width: 280px;
  }
  #glass {
    position: absolute;
    font-size: 15px;
    margin-top: 5px;
  }
  .filters {
    display: flex;
    width: 320px;
    height: 50px;
    justify-content: space-around;
    align-self: flex-end;
    position: absolute;
    right: 5px;
    top: 80px;
  }
  .view-select {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
  }
  .card-display {
    display: flex;
  
    width: 25%;
    justify-content: space-between;
  }
  #select-view-4-columns {
    color: green;
  }
  .filters select {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 15px;
  } */
  

 form {
    height: 120px;
    width: 450px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.label1 {
    display: flex;
    justify-content: left;
    width: 400px;
    margin-right: 25px;
}

#search {
    width: 310px;
}


.label2 {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 12px;
}

.main-box {
    background-color: rgb(255, 255, 255);
}

.row {
    display: flex;
    justify-content: space-around;
    object-fit: cover ;
}

.product {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 20px 2px;
    align-items: center;
    flex-direction: column;
    object-fit: contain;
    /* gap: 20px; */
}

.light {
    font-weight: 100;
}

p {
    margin: 0px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.sign-in {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mail {
    width: 300px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.footer-box {
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer {
    display: inline-flex;
    /* text-decoration: none;
    no apliqa */
    
}

hr {
    width: 400px;
    font-weight: bold;
}

ul {
    text-decoration: none;
    list-style: none;
    /* no aplica */
}