/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

body {
    width: 100%;
    margin: 0 auto;

}

header{
    background-image: url(./assets/bmw-background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    margin: 0 auto;
}

.left-menu{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-left: 150px;
    width: 30vw;
}

a, i {
   color: white;
   text-decoration: none;
}

.right-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 150px;
    width: 20vw;
}

img {
    width: 95px;
    height: 100px;
    margin-top: 0;
}

.header__content {
    align-self: end;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* width: 56vw; */
    height: 190px;
    margin-left: 5vw;

}

.header__content h1 {
    font-size: 40px;
    font-weight: 700;
    height: auto;
}

.header__content p {
    font-size: 20px;
    font-weight: 600;
    height: 45px;
    display: flex;
    align-items: center;
}

.header__content a {

    background-color: rgb(10, 94, 162);
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 12px 58px;
}

main {
    padding: 80px 0 30px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main__series {
    font-size: larger;
    color: rgb(192, 189, 189);
    font-weight: 600;
}

.principal__main ul{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
    list-style: none;
}

.dir {
    color: rgb(192, 189, 189)
}

.dir:hover{
    color: black;
    text-decoration: underline blue;
    font-size: 175%;
}

.cars-list {
   width: 80%;

}

.car-model img{
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
}

