.main-news {
    width: 100%;
    height: 500px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
   
.new {
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 350px; 
    display: flex; 
    justify-content: center;
}

img {
    height: 170px;
    width: 330px; 
}

.info {
    width: 80%;
    padding: 15px;
}

.info h1{
    color: black;
    font-family: 'Roboto', sans-serif;  
}
.info p {
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

.chev {
    height: 20px;
    width: 20px;
    color: grey;;
}

.item-link a {
    color: black;
}

.main__categories {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}

.categories {
    width: 47%;
    height: 95%;
    /* background-color: blueviolet; */
}

.categories img {
    width: 100%;
    height: 80%;
}

.more__info i {
    color: black;
}
.youtube {
    width: 47%;
    height: 95%;
    /* background-color: brown; */
}

.youtube img {
    width: 100%;
    height: 80%;
}