.main-news {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
   
.new {
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 350px; 
    display: flex; 
    justify-content: center;
}

img {
    height: 170px;
    width: 330px; 
}

.info {
    width: 80%;
    padding: 15px;
}

.info h1{
    color: black;
    font-family: 'Roboto', sans-serif;  
}
.info p {
    color: black;
    font-family: 'Roboto', sans-serif;
    
}

.chev {
    height: 20px;
    width: 20px;
    color: grey;;
}

.item-link a {
    color: black;
}